<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>276174499963-ipkeq7fotfaju2jjb9e38fsqm2114g48.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.276174499963-ipkeq7fotfaju2jjb9e38fsqm2114g48</string>
	<key>API_KEY</key>
	<string>AIzaSyDg86UzxkW8NtE-GSVhzkkz24iUkMBlFUA</string>
	<key>GCM_SENDER_ID</key>
	<string>276174499963</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>soulfulolya20.Miva</string>
	<key>PROJECT_ID</key>
	<string>miva-53e57</string>
	<key>STORAGE_BUCKET</key>
	<string>miva-53e57.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:276174499963:ios:d73f457ed4485460db72de</string>
</dict>
</plist>